USE [LibraryDB]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2025/02/22 下午 05:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[isbn] [varchar](255) NOT NULL,
	[author] [varchar](255) NOT NULL,
	[introduction] [text] NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrowing_record]    Script Date: 2025/02/22 下午 05:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrowing_record](
	[record_id] [bigint] IDENTITY(1,1) NOT NULL,
	[borrowing_time] [datetime2](6) NOT NULL,
	[inventory_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[return_date_time] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 2025/02/22 下午 05:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[inventory_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[store_time] [datetime2](6) NOT NULL,
	[isbn] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 2025/02/22 下午 05:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[icon] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
	[url] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2025/02/22 下午 05:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[last_login_time] [datetime2](6) NULL,
	[password] [varchar](255) NOT NULL,
	[phone_number] [varchar](255) NOT NULL,
	[registration_time] [datetime2](6) NOT NULL,
	[user_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[borrowing_record] ON 

INSERT [dbo].[borrowing_record] ([record_id], [borrowing_time], [inventory_id], [user_id], [return_date_time]) VALUES (1, CAST(N'2025-02-22T15:34:22.1088680' AS DateTime2), 1, 7, CAST(N'2025-02-22T16:53:15.8033660' AS DateTime2))
INSERT [dbo].[borrowing_record] ([record_id], [borrowing_time], [inventory_id], [user_id], [return_date_time]) VALUES (2, CAST(N'2025-02-22T16:54:37.5796940' AS DateTime2), 1, 7, CAST(N'2025-02-22T17:06:56.6682820' AS DateTime2))
INSERT [dbo].[borrowing_record] ([record_id], [borrowing_time], [inventory_id], [user_id], [return_date_time]) VALUES (3, CAST(N'2025-02-22T17:07:58.9897460' AS DateTime2), 1, 7, CAST(N'2025-02-22T17:08:05.9238510' AS DateTime2))
SET IDENTITY_INSERT [dbo].[borrowing_record] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

INSERT [dbo].[inventory] ([inventory_id], [status], [store_time], [isbn]) VALUES (1, N'在庫', CAST(N'2025-02-22T00:00:00.0000000' AS DateTime2), N'9786263618794')
INSERT [dbo].[inventory] ([inventory_id], [status], [store_time], [isbn]) VALUES (3, N'已借出', CAST(N'2025-02-22T00:00:00.0000000' AS DateTime2), N'9786267299029')
INSERT [dbo].[inventory] ([inventory_id], [status], [store_time], [isbn]) VALUES (6, N'已借出', CAST(N'2025-02-22T00:00:00.0000000' AS DateTime2), N'9786267383698')
SET IDENTITY_INSERT [dbo].[inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([id], [icon], [name], [url]) VALUES (1, N'fa-solid fa-circle-user', N'User 使用者', N'/user')
INSERT [dbo].[menu] ([id], [icon], [name], [url]) VALUES (2, N'fa-solid fa-warehouse', N'Inventory 庫存', N'/inventory')
INSERT [dbo].[menu] ([id], [icon], [name], [url]) VALUES (3, N'fa-solid fa-book', N'Book 書籍', N'/book')
SET IDENTITY_INSERT [dbo].[menu] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [last_login_time], [password], [phone_number], [registration_time], [user_name]) VALUES (7, CAST(N'2025-02-22T17:31:15.0346550' AS DateTime2), N'yFwLRTu8OyE3KaZhAsEs70lvr5eGGhg5CEnaVXVjEcU=', N'0912345678', CAST(N'2025-02-21T20:36:30.9893040' AS DateTime2), N'Jennie Nichols')
INSERT [dbo].[user] ([user_id], [last_login_time], [password], [phone_number], [registration_time], [user_name]) VALUES (15, CAST(N'2025-02-22T17:31:54.9894640' AS DateTime2), N'yFwLRTu8OyE3KaZhAsEs70lvr5eGGhg5CEnaVXVjEcU=', N'0922345678', CAST(N'2025-02-22T17:30:49.8957210' AS DateTime2), N'test02')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK7h4xn7gqvj13r5qnhyqm3r3x0]    Script Date: 2025/02/22 下午 05:54:16 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [UK7h4xn7gqvj13r5qnhyqm3r3x0] UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[borrowing_record]  WITH CHECK ADD  CONSTRAINT [FKihucub62vbxjk7f5offbffbyj] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[inventory] ([inventory_id])
GO
ALTER TABLE [dbo].[borrowing_record] CHECK CONSTRAINT [FKihucub62vbxjk7f5offbffbyj]
GO
ALTER TABLE [dbo].[borrowing_record]  WITH CHECK ADD  CONSTRAINT [FKt2bdm6cw1qd0pmidmn51jbdqa] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[borrowing_record] CHECK CONSTRAINT [FKt2bdm6cw1qd0pmidmn51jbdqa]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FKlkjyn517xkb9q92lp6boc2slk] FOREIGN KEY([isbn])
REFERENCES [dbo].[book] ([isbn])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FKlkjyn517xkb9q92lp6boc2slk]
GO
