<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{import :: head}"></th:block>
		<title th:text="${title}"></title>
	</head>
	<body>
		<div class="container d-flex justify-content-center align-items-center min-vh-100">
			<div class="card" style="width: 100%; max-width: 400px;">
				<div class="card-body">
					<h5 class="card-title text-center mb-4" th:text="${title}"></h5>
					<form>
						<div class="mb-3">
							<label for="phoneNumber" class="form-label">手機</label>
							<input type="text" class="form-control" name="phoneNumber" placeholder="請輸入手機" required>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">密碼</label>
							<input type="password" class="form-control" name="password" placeholder="請輸入密碼" required>
						</div>
						<div class="d-flex justify-content-evenly">
							<button type="submit" class="btn btn-primary">登入</button>
							<a href="/register" class="btn btn-secondary">註冊</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	
		<script type="text/javascript">
			$("form").submit(async function(e) {
				e.preventDefault();
				const formData = new FormData(this),
					json = await doHttp("POST", "/login", formData);
				showSuccess(json.msg, () => {
					location.href = "/book";
				});
			});
		</script>
	</body>
</html>